*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", system-ui,
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}

#root {
  width: 100dvw;
  height: 100dvh;
}
